<div class="container">
  <div class="row justify-content-md-center">
    <div class="col-10">
      <%= render "shared/errors" %>
      <%= form_with(model: @article, data: { turbo: false }, local: true, class: "shadow p-3 mb-3 bg-info rounded") do |f| %>
        <div class="row mb-3">
          <%= f.label :title, class: "col-sm-2 col-form-label text-light" %>
          <div class="col-sm-10">
            <%= f.text_field :title, class: "form-control shadow rounded", placeholder: "Title of article" %>
          </div>
        </div>
        <div class="row mb-3">
          <%= f.label :author, class: "col-sm-2 col-form-label text-light" %>
          <div class="col-sm-10">
            <%= f.text_field :author, class: "form-control shadow rounded" %>
          </div>
        </div>
        <div class="row mb-3">
          <%= f.label :description, class: "col-sm-2 col-form-label text-light" %>
          <div class="col-sm-10">
            <%= f.text_area :description, rows: 10, class: "form-control shadow rounded", placeholder: "Enter an article description"%>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-sm-2"></div>
          <div class="col-sm-10">
            <%= f.submit class:"btn btn-outline-light btn-lg" %>
            <%= link_to "Cancel", articles_path, method: :get, class: "btn btn-outline-light btn-lg float-end" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>